streamlit==1.31.0
streamlit-drawable-canvas==0.9.3
streamlit-autorefresh==1.0.1
pillow==11.2.1
numpy==2.2.5
pandas==2.2.3
astropy==7.0.1
sunpy==6.1.1
matplotlib==3.10.1
scipy==1.15.2
scikit-image==0.20.0  # Using 0.20.0 instead of requiring 1.0+
